
body {
    padding-top: 90px;
    padding-bottom: 20px;
    color: #293037;
    font-family: Helvetica,Arial,sans-serif;
    background-color: #fbece8;
}

h2, h3, a {
    color: #ff6a00;
}

a:focus, a:hover {
    color: #8b420d;
    text-decoration: none;
}

.navbar-background {
    background-color: #fbece8;
    padding-bottom: 10px;
}

.navbar-toggle {
    background-color: #3388a9;
}

.navbar-toggle span {
    background-color: #293037;
}

.navbar-fixed-top p {
   padding-top: 10px;
}

.side-navbar > li > a {
    margin-top: 30px;
    font-weight: bold;
}

.dropdown-menu > li > a {
    font-weight: bold;
    color: #ff6a00;  
}

@media (min-width: 768px) {
    .nav {
        float: right;
    }
}

@media (max-width: 768px) {
  .navbar-nav {
    background-color: #3388a9;  
  }
  .navbar-nav > li > a {
      padding-right: 70px;
  }
  .navbar-nav a {
      color: #293037;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      background-color: #45c1f1;
  }
  .nav .open > a {
      background-color: #45c1f1;     
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      background-color: #45c1f1;
  }
  .navbar .dropdown-menu a {
      color: #293037;
  }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homelogo a {
    color: #45c1f1;
    float: left;
    font-size: 40px;
    margin-top: 20px;
}

#homelogo a:hover, a:focus {
    text-decoration: none;
    color: #3388a9;
}

#homelogo p {
    color: #293037;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 20px;
}

.profpic img {
    margin-top: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #45c1f1;
    max-height: 300px;
    max-width: 100%;
    float: left;
}

.homegreeting p {
    margin-top: 40px;
    float: left;
}

.carousel-caption {
    position: absolute;
    top: 80%;
}

.thumbnail img {
    max-height: 100px;
}

.thumbnail hr {
    border: none;
}

#resume span {
    float: right;
}

.resume-item hr {
    border: none;
    height: 2px;
    background-color: #293037;
}

.resume-item {
    margin-bottom: 40px;
}

.carousel {
    margin-top: 30px;
}

#carouselImages img {
    width: auto;
    height: 400px;
    max-height: 400px;
}

#rolodextitle {
    padding-bottom: 10px;
}

.socialicons i {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

