@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="row contactinfo">
    <p>
        <img src="~/Images/professional.jpg" alt="Image of the author, Derek Harmann." />
        Author: Derek Harmann<br />
        Email: derekhar2468@gmail.com<br />
        Phone: 920-676-1669<br />
        <a href="https://github.com/harmannd">Github</a><br />
        <a href="https://www.linkedin.com/in/derek-harmann-3b8731129/">Linkedin</a>
    </p>
</div>

